.hide { position:absolute; visibility:hidden; }
.show { position:absolute; visibility:visible; }


html { 
margin-top:1px;
margin-bottom:1px;
margin-right:150px;
margin-left:1px;
height:100%; 
}
#content { height:100%; }


/*textarea is controlled by the CGI
textarea { 
width: 650px; 
height: 400px;
}
*/

.button {
	font-size:13px;
	font-family:Sans-serif;
	font-weight:Bold;
	color:Black;
	text-shadow:0px 1px 0px white;
	width:287px;
	vertical-align:text-top;
	white-space:nowrap;
	
	
}
.scene_button {
	font-size:13px;
	font-family:Sans-serif;
	font-weight:Bold;
	color:Black;
	text-shadow:0px 1px 0px white;
	width:307px;
	text-align:left;
	white-space:nowrap;
	vertical-align:text-top;
}

.top_show_all_button {
	font-size:13px;
	font-family:Sans-serif;
	font-weight:Bold;
	color:Black;
	width:225px;
	vertical-align:text-top;
	height:30px;
	white-space:nowrap;
	
	
}
.buttons_dim {
	font-size:10px;
	font-family:Arial;
	font-weight:bold;
	color:#000;
	text-shadow:0px 1px 0px white;
	width:130px;
	height:32px;
	background-color:#fff;
	border-width: 0px;	
	border-style: groove;
	border-color: #fff;

	
	
}


.pbi {
    width:25px;
	height:25px;
	vertical-align:text-bottom;
}


.pb {
    width:250px;
	height:10px;
	vertical-align:text-top;
}

.sliderfx {

	width:300px;
	height:30px;
}



.icons {
	width:25;
	height:25;
	border-width:0px;
	vertical-align:text-top;
}

table.scene_button td {
	font-size:13px;
	font-family:Sans-serif;
	font-weight:Bold;
	color:Black;
	text-shadow:0px 1px 0px white;
	text-align:left;
	white-space:nowrap;
	vertical-align:text-top;
}

#progress {
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-khtml-border-radius:8px;
	border-radius:8px;
	border: 1px solid black;
	-moz-box-shadow:2px 2px 6px rgba(0,0,0,0.6);
	-webkit-box-shadow:2px 2px 6px rgba(0,0,0,0.6);
	-khtml-box-shadow:2px 2px 6px rgba(0,0,0,0.6);
	box-shadow:2px 2px 6px rgba(0,0,0,0.6);
	background-color:rgb(250,250,250);
	color:black;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	padding-top:25px;
	padding-bottom:25px;
	width:200px;
}

.userconfigbutton {
	font-size:10px;
	font-family:Arial;
	font-weight:bold;
	color:#000;
	text-shadow:0px 1px 0px white;
	width:130px;
	height:32px;
	background-color:#ccc;
	border-width: 2px;	
	border-style: groove;
	border-color: #ccc;
}
table.userconfig {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 10px;
	border-color: #ccc;
	border-collapse: collapse;

}

table.control_panel {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #ccc;
	border-collapse: collapse;

}

table.control_panel td {
	
	text-align:left;
	border-width: 0px;
	padding: 1px;
	border-style: groove;
	border-color: #ccc;
	vertical-align:top;

}

table.userconfig td {
	border-width: 0px;
	padding: 6px;
	border-style: groove;
	border-color: #ccc;
	vertical-align:text-top;
}

table.userconfig2 {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 10px;
	border-color: #ccc;
	border-collapse: collapse;
	
}
table.userconfig2 td {
	border-width: 0px;
	padding: 6px;
	border-style: groove;
	border-color: #ccc;
	vertical-align:text-top;
}
.info {
	text-align:center;
	font-size:10px;
	font-family:Sans-serif;
	font-weight:normal;
	color:black;
	vertical-align:text-top;
	width:50px;
	white-space:nowrap;
	
}
.info_on_color { color:black; }
.info_off_color { color:gray; }

input.text { 
width: 100px;
border: 1px solid #000 
}
.control_panel {
	font-size:11px;
	font-family:Sans-serif;
	font-weight:normal;
	color:Black;
}
.control_panel_buttons {
	
	font-size:10px;
	font-family:Arial;
	font-weight:bold;
	color:#000;
	text-shadow:0px 1px 0px white;
	width:180px;
	height:48px;
	background-color:#ccc;
	border-width: 2px;	
	border-style: groove;
	border-color: #ccc;
}


