.hide { position:absolute; visibility:hidden; }
.show { position:absolute; visibility:visible; }





#content { height:100%; }


/*textarea is controlled by the CGI
textarea { 
width: 650px; 
height: 400px;
}
*/

.heading2 {
  
 font: normal normal 400 22.8px/normal Verdana; 
 color: #000000;
 height: 29px;
 width: 634px;
}

.heading3 {
  
 font: normal normal 400 12.8px/normal Verdana; 
 color: #000000;
 height: 29px;
 width: 634px;
 border-width: 50px;	
}
.button {
	font-size:13px;
	font-family:Sans-serif;
	font-weight:Bold;
	color:Black;
	text-shadow:0px 1px 0px white;
	width:287px;
    vertical-align:text-top;
	white-space:nowrap;	
	
}
.scene_button {
	font-size:13px;
	font-family:Sans-serif;
	font-weight:Bold;
	color:Black;
	text-shadow:0px 1px 0px white;
	width:307px;
	text-align:left;
	white-space:nowrap;
	vertical-align:text-top;
}

.top_show_all_button {
	font-size:13px;
	font-family:Sans-serif;
	font-weight:Bold;
	color:Black;
	width:225px;
	vertical-align:text-top;
	height:30px;
	white-space:nowrap;
	
	
}
.buttons_dim {
	font-size:10px;
	font-family:Arial;
	font-weight:bold;
	color:#000;
	text-shadow:0px 1px 0px white;
	width:130px;
	height:32px;
	background-color:#fff;
	border-width: 0px;	
	border-style: groove;
	border-color: #fff;	
	
}


.pbi {
    width:25px;
	height:25px;
	vertical-align:text-bottom;
}


.pb {
    width:250px;
	height:10px;
	vertical-align:text-top;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
background: linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}


.sliderfx {
	width:300px;
    height:30px;
}

.icons {
	width:25;
	height:25;
	border-width:0px;
	vertical-align:text-top;
}

table.scene_button td {
	font-size:13px;
	font-family:Sans-serif;
	font-weight:Bold;
	color:Black;
	text-shadow:0px 1px 0px white;
	text-align:left;
	white-space:nowrap;
	vertical-align:text-top;
}

#progress {
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-khtml-border-radius:8px;
	border-radius:8px;
	border: 1px solid black;
	-moz-box-shadow:2px 2px 6px rgba(0,0,0,0.6);
	-webkit-box-shadow:2px 2px 6px rgba(0,0,0,0.6);
	-khtml-box-shadow:2px 2px 6px rgba(0,0,0,0.6);
	box-shadow:2px 2px 6px rgba(0,0,0,0.6);
	background-color:rgb(250,250,250);
	color:black;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	padding-top:25px;
	padding-bottom:25px;
	width:200px;
}
.groups {

	padding: 0px;
	font-size:17px;
	font-family:font-family:Tahoma;
	font-weight:normal;
	color:#000;
	text-shadow:0px 1px 0px white;
}

.userconfigbutton {
	font-size:10px;
	font-family:Arial;
	font-weight:bold;
	color:#000;
	text-shadow:0px 1px 0px white;
	width:130px;
	height:32px;
	background-color:#ccc;
	border-width: 2px;	
	border-style: groove;
	border-color: #ccc;
	
}
.musicTDconfigbutton {

	vertical-align:top;
	font-size:10px;
	font-family:Arial;
	font-weight:bold;
	color:#000;
	text-shadow:0px 1px 0px white;
	width:230px;
	height:32px;
	background-color:#ccc;
	border-width: 2px;	
	border-style: groove;
	border-color: #ccc;	
}
.music_fontz1 {

	font-size:12px;
	font-family: verdana,arial,sans-serif;	
	color:#000;
	
}
.volbutton {
        text-align: center;
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	text-shadow:0px 1px 0px white;
	width:250px;
	height:32px;
	background-color:#ccc;
	border-width: 2px;	
	border-style: groove;
	border-color: #ccc;
	
}
.stop_button {
        
	font-family: verdana,arial,sans-serif;
	font-size:10px;
	color:#333333;
	font-weight:bold;
	text-shadow:0px 1px 0px white;
	width:50px;
	height:33px;
	background-color:#ccc;
	border-width: 2px;	
	border-style: groove;
	border-color: #ccc;
	vertical-align:top;
	
}
.stop_button_img {
	width:25px;
	height:25px;
	background-color:#ccc;
	border-width: 0px;	
	vertical-align:top;
	
}
.playlistbutton {  
	vertical-align:top;
	font-size:11px;
	font-family: verdana,arial,sans-serif;	
	color:#000;
	background-color:#ccc;
	border-width: 2px;	
	border-style: groove;
	border-color: #ccc;
	text-align:left;
	width:200px;
	height:282px;
	font-weight:normal;	
}
.mainplayerbutton {  
	vertical-align:top;
	font-size:10px;
	font-family:Arial;
	font-weight:bold;
	color:#000;
	text-shadow:0px 1px 0px white;
	border-width: 2px;	
	border-style: groove;
	border-color: #ccc;
	width:650px;
	text-align:left;

	
}

.weather1 {  
	vertical-align:top;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#000;
	text-shadow:0px 1px 0px white;
	border-width: 2px;	
	border-style: groove;
	border-color: #ccc;
	width:650px;
	text-align:left;

	
}
.currentlyplaying {  
	vertical-align:top;
	font-size:10px;
	font-family:Arial;
	font-weight:bold;
	color:#000;
	text-shadow:0px 1px 0px white;
	background-color:#ccc;
	border-width: 2px;	
	border-style: groove;
	border-color: #ccc;
	text-align:left;
	width:450px;
	height:100px;

	
}
.userconfigbutton2 {
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	color:#000;
	text-shadow:0px 1px 0px white;
	width:30px;
	height:32px;
	background-color:#ccc;
	border-width: 0px;	
	border-style: groove;
	border-color: #ccc;
	
}

.configb1 {
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000;
	text-shadow:0px 1px 0px white;
	width:40px;
	height:32px;
	background-color:#ccc;
	border-width: 0px;	
	border-style: groove;
	border-color: #ccc;
}
table.userconfig {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 10px;
	border-color: #ccc;
	border-collapse: collapse;

}

table.control_panel {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #ccc;
	border-collapse: collapse;

}

table.control_panel_music {
	width:500px;
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #ccc;
	border-collapse: collapse;
	text-align:center;

}
table.control_panel_music2 {
	width:300px;
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #ccc;
	border-collapse: collapse;
	text-align:left;

}
table.control_panel_playlist {
	width:250px;
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #ccc;
	border-collapse: groove;
	text-align:center;
	

}
table.control_panel td {
	
	text-align:left;
	border-width: 0px;
	padding: 1px;
	border-style: groove;
	border-color: #ccc;
	vertical-align:top;

}

table.userconfig td {
	border-width: 0px;
	padding: 6px;
	border-style: groove;
	border-color: #ccc;
	vertical-align:text-top;
}

table.userconfig2 {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 10px;
	border-color: #ccc;
	border-collapse: collapse;	
}

table.userconfig2 input {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #ccc;
	border-collapse: collapse;

	width:210px;
	height:22px;	
}
table.userconfig2 td {
	border-width: 0px;
	padding: 6px;
	border-style: groove;
	border-color: #ccc;
	vertical-align:text-top;
}
.info {
	text-align:right;
	font-size:11px;
	font-family:Sans-serif;
	font-weight:normal;
	#color:black;
	#vertical-align:text-top;
	width:50px;
	white-space:nowrap;
	
}
.info_on_color { color:black; }
.info_off_color { color:gray; }

input.text { 
width: 100px;
border: 1px solid #000 
}
.control_panel {
	font-size:11px;
	font-family:Sans-serif;
	font-weight:normal;
	color:Black;
}
.control_panel_buttons {
	
	font-size:10px;
	font-family:Arial;
	font-weight:bold;
	color:#000;
	text-shadow:0px 1px 0px white;
	width:180px;
	height:48px;
	background-color:#ccc;
	border-width: 2px;	
	border-style: groove;
	border-color: #ccc;
}

